body
{margin:0;
	background: #99FFCC;
	color: black
}
.emp /*Agregado extra*/
{
	font-family: helvetica;
	color: black;
	font-size: 23px;
}
.titulo
{   margin:0;
	color: black;
	text-align: center;
	font-size: 35px;
}
section
{   text-align: center;
	height: 200px; /*altura*/
	width: 100%; /*ancho*/
	margin:10px 0 10px 0; /* arriba derecha abajo izquierda*/
	/*margin-top:10px; /*margen superior
	margin-bottom: 10px;/*margen inferiror
	margin-left: 10px; /*margen izquierdo
	margin-ride:10px;/*margen derecho*/
}
.opcservicio
{
	margin: 10 20 10 20;
	display: inline-block;/*permite acomodar los elementos horizontalmente*/
	height: 330px;
	width: 20%;
	background: #99FF99;
	color: black;
	vertical-align: top;
}
#blog{
	height: 50px;
	width: 150px;
	background: #000;
	position: absolute;
	right: 40px;
	bottom: 0px;
	color: black;
	text-align: center;
	margin: auto;
}
#blog a{
	top: 10px;
	text-decoration: none;
	color: white;
	padding: 10px 55px 17px 55px;
	display: inline-block;
	font-size: 20px;
}
#menu
{  
	height: 50px;
    width: 100%;
    background: #FF6633;
    position: fixed; /*permite posicionar elemento en el top*/
    top: -10; /*permite asignar separación entre elemto y el top*/
}
#cabecera
{
	height: 140px;
	margin-top: 60px;
   background: ##99FFCC;
   border-radius: 10px;
}
.cab
{
	margin: 0;
	color: #3F44A5;
	font-size: 55px;
}
#servicios
{
	background: #99FFCC;
	height: 420px;
    border-radius: 10px;
}
.tam
{
	font-size: 20px;
	color: #336699;
}
#conocenos
{
	background: #99FFCC;
	border-radius: 10px;
}
.misvis
{
	height: 220px;
	width: 48%;
	background: #FFCCCC;
	display: inline-block;
	vertical-align: top;
	border-radius: 10px;
	border: 1px solid black;
}
.misvis2
{
	font-size: 30px;
	display: inline-block;
	color: #336699;
}
.misvis3
{
	margin-top: -35;
	font-size: 200%;
}
#encuesta
{
	background: #FFFF99;
	height: 70px;
	margin-top: 90px;
}
#articulo
{
background: #58D7A9;
height: 530px;
margin-top: 2%;
}
.articulo1
{
color: white;
font-size: 170%;
}
#glosario
{
background: #C0DF56;
text-align: left;
height: 85%;
margin-top: 2%;
}
.terminos
{
margin-left: 3%;
font-size: 115%;
font-family: monospace;
}
#contactanos
{
	background: #99FFCC;
	height: auto;
	margin-top: 2%;
	border-radius: 10px;
}
.titcont
{
	font-size: 20px;
}
.cont
{
	font-size: 20px;
	color: black;
}
.opcpie
{
	vertical-align: top;
	display: inline-block;
	height: 270px;
	width: 48%;
	background: #99FF99;
	border-radius: 10px;
	margin-bottom: 10px;
}
.inp
{
	border-radius: 5px;
	margin: 2px 0 2px 0;
	height: 30px;
	display: inline-block;
}
.inp2
{
	border-radius: 5px;
	margin: 2px 0 2px 0;
	height: 30px;
	display: inline-block;
	width: 90%;
}
.inp3
{
	border-radius: 5px;
	margin: 2px 0 2px 0;
	height: 60px;
	display: inline-block;
	width: 90%;
}
.colbtn
{
	border-radius: 5px;
	width: 20%;
	background: #85C100;
}
#manuales
{
	width: 100%;
	height: 300px;
	background: #A5F638;
	margin-top: 1px;
	font-family: Helvetica;
}
.boton1
{
	text-shadow: 3px 3px 3px #000;
}
#pie
{
	width: 100%;
	height: 200px;
	background: black;
	margin: 210 0 0 0;
}
.redes
{
width: 30px;
text-align: center;
font-size: 24px;
background: #25d366;
}
.social
{
	position: fixed;
	left: -45px;
	top:240px;
}
.social a{
	display: inline-block;
	padding: 15px 20px;
	z-index:0;
	transition: 0.2s ease;
}
.social a:hover{
	padding: 20px 30px;
}
.impie
{
	display: inline-block;
	vertical-align: middle;
	margin: 80 80 80 0;
}