body
{margin:0;
	background: #99FFCC;
	color: black
}
.emp /*Agregado extra*/
{
	color: #00FF33;
	font-size: 22px;
}
.titulo
{   margin:0;
	color: black;
	font-size: 30px;
}
section
{   text-align: center;
	height: 200px; /*altura*/
	width: 100%; /*ancho*/
	margin:10px 0 10px 0; /* arriba derecha abajo izquierda*/
	/*margin-top:10px; /*margen superior
	margin-bottom: 10px;/*margen inferiror
	margin-left: 10px; /*margen izquierdo
	margin-ride:10px;/*margen derecho*/
}
.opcservicio
{
	margin: 10 20 10 20;
	display: inline-block;/*permite acomodar los elementos horizontalmente*/
	height: 250px;
	width: 200px;
	background: #99FF99;
	color: black;
}
#menu
{   height: 50px;
    width: 100%;
    background: #6666CC;
    position: fixed; /*permite posicionar elemento en el top*/
    top: -10; /*permite asignar separación entre elemto y el top*/
}
#cabecera
{
	margin-top: 60px;
   background: olive;
   border-radius: 10px;
}

#servicios
{
	background: red;
	height: 420px;
    border-radius: 10px;
}
     #imgservicios
{
	display: block;
	margin: auto; /*sirve para centrar una imagen*/
}

.tam
{
	font-size: 20px;
	color: #336699;
}
#conocenos
{
	background: green;
	border-radius: 10px;
}
#contactanos
{
	background: gray;
	border-radius: 10px;
}
#pie
{
	background: orange;
    border-radius: 10px;
}